---
layout: default
---


<div class="columns">
  <div class="column is-half">
    <div class="cover-image"></div>
  </div>
  <div class="column">
    
  </div>
</div>

<section class="hero is-fullheight">
  <!-- Hero head: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="cover-image-small"></div>
        </div>
        <div class="column">
          <h1 class="title">
            Christoph Schorn
          </h1>
          
          <p class="subtitle">
            Software Developer | Photographer | Musician
          </p>
      
          
          <div class="buttons">
            <a class="button is-primary">Primary</a>
            <a class="button is-link">Link</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Hero footer: will stick at the bottom -->
  <!-- <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div> -->
</section>






