---
layout: default
---

<script>
  function openMailTab() {
    // spam protection
    var encoded = "Y2hyaXN0b3BoQHNjaG9ybi5tZQ==";
    window.open("mailto:" + atob(encoded), '_blank');
  }
</script>


<section class="hero is-fullheight">

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-variable is-8">
        <div class="column is-half">
          <div class="cover-image-small shadow"></div>
        </div>
        <div class="column ml-5">

          <div class="block pb-4" style="max-width:175px">
            <figure class="image is-square">
              <img class="is-rounded shadow" src="{{ '/images/avatar.jpg' | relative_url }}">
            </figure>
          </div>

          <div class="block">
            <h1 class="title">
              Christoph Schorn
            </h1>
            
            <p class="subtitle">
              Software Developer | Photographer | Musician
            </p>

            <div class="columns">
              <div class="column is-one-third">
                <ul class="fa-ul is-size-6">
                  <li><span class="fa-li"><i class="fa-brands fa-github"></i></span>
                    <a href="https://github.com/chrschorn" target="_blank" title="Github">GitHub</a>
                  </li>
                  <li><span class="fa-li"><i class="fa-brands fa-linkedin"></i></span>
                    <a href="https://www.linkedin.com/in/christoph-schorn/" target="_blank" title="LinkedIn">LinkedIn</a>
                  </li>
                  <li><span class="fa-li"><i class="fa-solid fa-scroll"></i></span>
                    <a href="https://scholar.google.de/citations?user=0PlA9CsAAAAJ" target="_blank" title="Github">Papers</a>
                  </li>
                </ul>
              </div>

              <div class="column is-one-third">
                <ul class="fa-ul is-size-6">
                  <li><span class="fa-li"><i class="fa-solid fa-camera"></i></span>
                    <a href="https://photos.schorn.me/" target="_blank" title="Photography">Photography</a>
                  </li>
                  <li><span class="fa-li"><i class="fa-brands fa-instagram"></i></span>
                    <a href="https://www.instagram.com/chrschrn/" target="_blank" title="Instagram">Instagram</a>
                  </li>
                  <li><span class="fa-li"><i class="fa-solid fa-music"></i></span>
                    <a href="https://www.funkforce5.de/" target="_blank" title="Band">Band</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="block pt-2">
            <div class="buttons">
              <button class="button is-primary is-rounded" onclick="openMailTab()">
                <span class="icon">
                  <i class="fa-solid fa-paper-plane"></i>
                </span>
                <span>Email</span>
              </button>

              <a class="button is-light is-rounded ml-3" href="https://drive.google.com/file/d/196tVqh8mFNnRcx2HIHzA2vJEyhMCA4im/view" target="_blank")">
                <span class="icon">
                  <i class="fa-solid fa-file"></i>
                </span>
                <span>Resume</span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>






